@import "colors";
@import "media-queries";

%align-center {
    display: flex;
    align-items: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    height: 96vh;

    &__left {
        background-color: rgb(230, 218, 206);
        height: 96vh;
        flex: 0 0 40%;
    }

    &__right {
        background-color: #fff;
        height: 97vh;
    }
}

.hero1 {
    /* This section calls the slideInFromLeft animation we defined above */
    animation: 1s ease-out 0s 1 slideInFromLeft;

    width: 100%;
    min-height: 25vh;
    display: flex;
    top: 18%;
    position: absolute;
    //margin-left: 23%;
    justify-content: center;
    &__left {
        width: 34%;
        background-color: rgb(252, 242, 233);
        min-height: 25vh;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        display: flex;
        flex-flow: column;
        align-items: center;

        hr {
            margin: 1rem 2rem;
            border: 1px solid grey;
            width: 85%;
        }

        &__img {
            width: 7rem;
            height: 7rem;
            object-fit: cover;
            object-position: 50% 50%;
            border-radius: 50%;
            margin: 1rem 0;
        }

        h3 {
            margin: 1rem 0;
        }

        .contact {
            display: flex;
            align-items: left;
            margin: 0rem 2rem;
            flex-flow: column;
            span {
                display: flex;
                margin: 0.5rem;
                h5 {
                    text-align: left;
                    line-height: 1.8;

                    ul{
                        margin-left: 1.5rem;
                    }
                }
            }

            &__img {
                height: 1.5rem;
                width: 1.5rem;
                margin-right: 0.5rem;
                // margin: 0 1rem;
            }
        }

        @media screen and (max-width: 800px) {
            margin-left: 30%;
            margin-top: 4rem;
            width: 45%;
        }
    }

    &__right {
        width: 45%;
        min-height: 25vh;
        background-color: #fff;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        div{
            margin-bottom: 2rem;
            h4 {
                color: rgb(0, 80, 255);
                margin: 1rem 1rem 0.7rem 1rem;
            }
            ul{
                margin-left: 2rem;
                li{
                    margin: 0.6rem ;
                    font-size: 0.8rem;
                    text-align: justify;
                }
            }
            p{
                font-size: 0.8rem;
                margin: 0 1rem ;
                text-align: justify;
            }
        }

        @media screen and (max-width: 800px) {
            margin-left: 30%;
            margin-top: 1rem;
        }
    }

    @media screen and (max-width: 800px) {
        top: 100px;
        flex-direction: column;
    }
}

.hero {
    height: 65vh;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    // width: 100vh;
    z-index: 1;
    top: 150px;
    margin-left: 15%;
    width: 50%; //70%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

//animation
@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  