.students {
    animation: fadein 2s;
    display: flex;
    background-color: #e6dace;
    min-height: 5vh;
    justify-content: space-around;

    &__data1,
    &__data2 {
        width: 50%;
        min-height: 5vh;
        background-color: #fff;
        top: 2rem;
        margin-top: 2rem;
        padding-bottom: 1rem;

        &__title {
            color: rgb(0, 80, 225);
            font-weight: bold;
            margin: 1rem 0.3rem 0.3rem 1rem;
        }

        &__content {
            font-weight: 500;
            font-size: 0.8rem;
            display: flex;
            flex-flow: column;

            span {
                display: flex;
                flex-flow: row;

                p:first-child {
                    margin: 0.6rem 0 0.3rem 1rem;
                }

                p:nth-child(2) {
                    margin: 0.6rem 0.5rem 0.3rem 1rem;
                }
            }
        }

        &__students {
            p {
                margin: 1rem 1rem 0.5rem 1rem;
                text-align: justify;
            }
        }
    }
}
