@import "navbar";
@import "index";
@import "publications";
@import "teachings";
@import "awards";
@import "students";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Kumbh Sans", sans-serif;
}

.card {
  /* This section calls the slideInFromLeft animation we defined above */
  animation: fadein 2s;
  width: 100%;
  min-height: 25vh;
  display: flex;
  margin-top: 2rem;
  // top: 18%;
  // position: absolute;
  justify-content: center;
  &__left {
    width: 27vw;//34%;
    background-color: rgb(252, 242, 233);
    min-height: 25vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-flow: column;
    align-items: center;

    @media screen and (min-width: 2000px) {
      width: 24vw;
    }

    h5 {
      margin: 0.5rem 0;
    }

    hr {
      margin: 1rem 2rem 1.5rem 2rem;
      border: 1px solid grey;
      width: 65%;
    }

    &__img {
      width: 7rem;
      height: 7rem;
      object-fit: cover;
      object-position: 50% 50%;
      border-radius: 50%;
      margin: 1rem 0;
    }

    &__details {
      ul {
        padding: 0.3rem;

        li {
          font-size: 1rem !important;
          padding:0.2rem;
        }

        ul{
          margin-left: 1rem;
          
        li {
          font-size: 1rem !important;
          padding:0.2rem;
        }
        }
      }
    }

    h3 {
      margin: 0.3rem 0;
    }

    @media screen and (max-width: 800px) {
      margin-left: 30%;
      margin-top: 4rem;
      width: 45%;
    }
  }

  &__right {
    width: 35vw;//45%;
    min-height: 25vh;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    @media screen and (min-width: 2000px) {
      width: 28vw;
    }

    &__cards {
    
      &__fullwidthrow {
        display: flex;
        margin: 0.8rem 0.3rem 0.5rem 0.3rem;

        @media screen and (max-width: 800px) {
          flex-flow: column;
        }

        div {
          display: flex;
          flex-flow: row;
          background-color: #fcf2e9;
          margin: 0.5rem;
          //width:100%;

          @media screen and (max-width: 800px) {
            width: 100%;
          }

          img {
            width: 100px;
            height: 100px;
            margin: 0.6rem;
            border-radius: 0.5rem;
          }

          span {
            ul {
              // padding:1rem !important;
              padding: 1rem 0.3rem 0 1rem !important;
              // margin: 0.6rem;

              li {
                font-size: 0.8rem;
                padding-bottom: 0.3rem;
              }
            }
            /* p{
                  text-align: left;
                  margin: 0.6rem;
              }*/
          }
        }
      }

      &__fullwidthrow2 {
        display: flex;
        margin: 1rem 0.5rem 0.5rem 0.5rem;
        height: 12rem;

        @media screen and (max-width: 800px) {
          flex-flow: column;
        }

        div {
          display: flex;
          flex-flow: row;
          // background-color: #fcf2e9;
          margin: 0.5rem;
          //width:100%;

          @media screen and (max-width: 800px) {
            width: 100%;
          }

          img {
            width: 150px;
            height: 100px;
            margin: 0.6rem;
            border-radius: 0.5rem;
          }

          span {
            ul {
              // padding:1rem !important;
              padding: 1rem 0.3rem 0 1rem !important;
              // margin: 0.6rem;

              li {
                font-size: 0.8rem;
                padding-bottom: 0.5rem;
              }
            }
            /* p{
                  text-align: left;
                  margin: 0.6rem;
              }*/
          }
        }
      }

      hr {
        margin: 1rem 0rem 1.5rem 1rem;
        border: 1px solid #d4b9a0;
        width: 94%;
      }

      &__row2 {
        display: flex;
        margin: 0.6rem 0.3rem 0.5rem 0.3rem;

        @media screen and (max-width: 800px) {
          flex-flow: column;
        }

        div {
          display: flex;
          flex-flow: column;
          background-color: #fcf2e9;
          margin: 0.5rem 0.5rem;
          width: 50%;

          @media screen and (max-width: 800px) {
            width: 100%;
          }

          img {
            width: 90%;
            height: 100px;
            margin: 0.6rem;
            border-radius: 0.5rem;
          }

          span {
            ul {
              // padding:1rem !important;
              padding: 1rem 0.3rem 0 1.5rem !important;
              // margin: 0.6rem;

              li {
                font-size: 0.8rem;
                padding-bottom: 0.3rem;
              }
            }
          }
        }
      }

      &__row {
        display: flex;
        margin: 0.6rem 0.3rem 0.5rem 0.3rem;

        @media screen and (max-width: 800px) {
          flex-flow: column;
        }

        div {
          display: flex;
          flex-flow: row;
          background-color: #fcf2e9;
          margin: 0.5rem;
          width:48%;//50%;

          @media screen and (max-width: 800px) {
            width: 100%;
          }

          img {
            width: 6rem;
            height: 6rem;
            margin: 0.6rem;
            border-radius: 0.5rem;
          }

          span {
            ul {
              // padding:1rem !important;
              padding: 1rem 0.3rem 0 1rem !important;
              // margin: 0.6rem;

              li {
                font-size: 0.8rem;
                padding-bottom: 0.3rem;
              }
            }
            /* p{
                  text-align: left;
                  margin: 0.6rem;
              }*/
          }
        }
      }
    }

    h4 {
      color: rgb(0, 80, 255);
      margin: 1rem;
    }
    p {
      margin: 1rem;
      font-size: 0.8rem;
      text-align: justify;
    }

    @media screen and (max-width: 800px) {
      margin-left: 30%;
      margin-top: 1rem;
    }
  }

  @media screen and (max-width: 800px) {
    top: 100px;
    flex-direction: column;
  }
}
